{
  actor {
    account(id: 3504143) {
      alerts {
        policiesSearch {
          policies {
            accountId
            incidentPreference
            id
            name
          }
        }
      }
    }
  }
}