{
  actor {
    entitySearch(queryBuilder: {type: DASHBOARD}) {
      results {
        entities {
          ... on DashboardEntityOutline {
            guid
            name
            createdAt
            accountId
            updatedAt
          }
        }
      }
    }
  }
}
