mutation {
  alertsNotificationChannelCreate(accountId: %d, notificationChannel: %s) {
    notificationChannel {
      ... on AlertsEmailNotificationChannel {
        id
        name
        type
        config {
          emails
          includeJson
        }
      }
      ... on AlertsPagerDutyNotificationChannel {
        id
        name
        type
        config {
          apiKey
        }
      }
      ... on AlertsWebhookNotificationChannel {
        id
        name
        type
        config {
          baseUrl
          customPayloadType
          customPayloadBody
          customHttpHeaders {
            name
            value
          }
          basicAuth {
            username
            password
          }
        }
      }
      ... on AlertsSlackNotificationChannel {
        id
        name
        type
        config {
          url
          teamChannel
        }
      }
    }
    error {
      errorType
      description
    }
  }
}
