{
  actor {
    account(id: %d) {
      alerts {
        policiesSearch {
          policies {
            id
            name
            incidentPreference
            accountId
          }
        }
      }
    }
  }
}